div {
    font: 16px "Ubuntu Sans", sans-serif;
}

body {
    background-color: chocolate;
}

.inputClass {
    height: 10px;
    color : #7B3F00;
}
.container {
    color: black;
    background-color: chocolate;
    text-align: center;
}

.container-fluid {
    display: flex;
    justify-content: center; /* Center the content horizontally */
}

.wrapper {
    flex: 0 0 auto; /* Do not grow, do not shrink, fixed width */
}

.centered-content {
    flex: 1; /* Grow to fill available space */
    text-align: center; /* Center the content horizontally */
}
